{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        
        div.site-title {
            margin-top: 10vh;
            width: 100%;
            height: 40vh;
            border: solid black 1px;
            text-align: center;
        }
        div.category-container {
            height: 50vh;
            text-align: left;
        }
        a.category-link {
            display: block;
            height: 8vh;
            width: 100%;
            background: #4E9CAF;
            padding: 10px;
            margin: 1vh 0.5vw;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
           text-decoration: none
        }
        a.category-link img {
            width: 30px;
            height: 30px;
        }
       
    </style>
{% endblock %}
   
{% block content %}
    <div class="container">
        <div class="site-title">
            <h1>絵カードで</h1>
            <h1>言葉トレーニング</h1>
        </div>
        <div class="category-container row">    
            {% for category in object_list %}
                <div class="col-md-3 col-sm-4 col-xs-12" > 
                    <a class="category-link row" href="{% url 'flashcardapp:demomainpage' %}?category={{ category.id }}">
                        <img class="rounded-circle" src="{{ category.thumbnail.url }}">
                        {{ category.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block script %}
        <script>
           
        </script>
{% endblock %}